$dark:#171717;
$light-dark:rgb(35, 35, 35);
$gold:#e09145;
$light-gold:#fdbe84;
$background-gradient: linear-gradient(90deg, $light-dark 0%, $gold 22%,$light-gold 50%, $gold 82%, $light-dark 100%);


