@import "colors";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: $light-dark;
	font-family: "KoHo", sans-serif;
	margin-top: 70px;
}

.navbar {
	color: $light-dark;

	text-transform: uppercase;
	font-weight: 600;
	background: $background-gradient;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	.container {
		.navbar-brand {
			position: fixed;
			top: 0;
			left: 5vw;
		}
		.navbar-toggler {
			background: $gold;
			border-radius: 15px;
			border: 2px solid $dark;
			margin: 0 0 0 auto;
			.navbar-toggler-icon {
				width: 1.3em;
				height: 1.3em;
			}
		}

		.collapse {
			.navbar-nav {
				padding-bottom: 20px;
			}
		}
	}
}

.home {
	.home__container {
		
		color: $light-gold;
		height: calc(100vh - 70px);
		display: flex;
		flex-direction: column;
		padding: 5vh 0 0 0;
		justify-content: space-between;
		.home__container__text {
			display: flex;
			flex-direction: column;
			// padding: 5vh 0 0 0;
			.home__text {
				font-weight: bold;
				text-shadow: 2px 2px 0 black;
				
				&--h2 {
					text-transform: uppercase;
					color: $gold;
				}
				
				&--h5 {
					padding: 10px 5px;
				}
			}
			.line {
				border-radius: 30px;
				background: $background-gradient;
				width: 40%;
				height: 3px;
				align-self: center;
				margin: 0;
			}
		}
		.home__container__img {
			position:relative;
			border-left: 15px double $gold;
			border-top-left-radius: 50%;
			border-bottom-left-radius: 50%;
			border-top-right-radius: 50%;

			align-self: flex-end;
			box-shadow:  inset 6px 5px 4px 0px #ddb878, -4px 1px 3px 0px #303030;;
			

			.home__img {
				width: 100%;
				max-height: 60vh;
			}
		}
			.home__container__img::before{
			content:"";
			position:absolute;
			top:0%;
			left:-40%;
			width: 70%;
			height: 20%;
		z-index: 1;
			border-right: 10px double $gold;
			border-top-right-radius: 50%;
			border-bottom-right-radius: 50%;
		
		}
	}
}

.section-title {
	text-transform: uppercase;
	color: $light-gold;
	text-shadow: 2px 2px 0 black;
}

.projects {
	.container {
		height: calc(100vh - 70px);
		display: flex;
		flex-direction: column;
		padding: 15px;

		// &__container::before{
		// 	content:"";
		// 	position:absolute;
		// 	top:0;
		// 	left:0;
		// 	width: 100%;
		// 	height: 100%;
		// z-index: -100;
		// background:$dark;
		// }

		.projects__container {
			margin: 0 auto;
			.col {
				.card {
					height: 100%;
					background-color: $light-dark;
					box-shadow: $shadow;
					border-radius: 10px;
					color: white;
					padding: 10px;
					.card-img-top {
						margin: 15px 0;
						border-radius: 15px;
					}
					.card-title {
						text-transform: uppercase;
						padding-top: 10px;
					}
					.card-body {
						padding: 0px;
						font-size: 14px;
						.card-link {
							text-decoration: none;
							display: inline-block;
							text-transform: uppercase;
							color: $gold;
							background: $dark;
							border: black 2px double;
							border-radius: 10px;
							font-weight: 900;
							padding: 7px 15px;
							margin-bottom: 20px;
						}
						.card-body-technologies {
							.card-title {
								color: $dark;
								background: $gold;
								padding: 10px 5px;
								border-radius: 10px;
								margin-bottom: 15px;
								font-size: 1rem;
							}
						}
					}
				}
			}
		}
	}
}

span {
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid $gold;
	border-radius: 8px;
	margin: 3px;
	padding: 3px 6px;
	color: white;
	font-size: 1rem;
}

.aboutme {
	margin: 20px auto;

	.section-title {
		padding: 15px;
	}
	.aboutme__container {
		display: grid;
		grid-template-columns: repeat(1, minmax(auto, 500px));
		grid-template-rows: repeat(6, auto);
		gap: 25px;

		.card {
			background-color: $light-dark;
			box-shadow: $shadow;
			color: white;
			border-radius: 50px;
			padding: 10px;
			.card-title {
				text-transform: uppercase;
				color: $gold;
				padding-bottom: 20px;
			}
			.icon-hobby {
				font-size: 30px;
				padding: 15px 5px;
				color: #333;
			}
		}
		.aboutme__container__description {
			grid-column: 1/2;
			grid-row: 1/2;
		}
		.aboutme__container__skills {
			grid-column: 1/2;

			grid-row: 2/3;
		}
		.aboutme__container__hobby {
			grid-column: 1/2;
			grid-row: 4/5;
		
			.list-group-item {
				background-color: $light-dark;
				color: white;
				border-right: none;
				border-left: none;
				padding: 3px;
			}
		}
		.aboutme__container__language {
			grid-column: 1/2;
			grid-row: 3/4;
		}
		.aboutme__container__logo {
			grid-column: 1/2;
			grid-row: 5/6;
			padding: 40px;
			align-self: center;
		}
		.aboutme__container__quote {
			grid-column: 1/2;
			grid-row: 6/7;
		}
	}
}
.contact {
	margin-top: 90px;
	.card {
		background-color: $light-dark;
		color: $light-gold;
		border: none;
		box-shadow: $shadow;
		border-radius: 10px;
	}
}

@media (min-width: 576px) {
	.aboutme {
		.aboutme__container {
			grid-template-columns: repeat(2, minmax(auto, 500px));
			grid-template-rows: repeat(3, auto);
			grid-auto-flow: row;

			.aboutme__container__description {
				grid-column: 1/2;
				grid-row: 1/3;
			}
			.aboutme__container__skills {
				grid-column: 2/3;
				grid-row: 1/2;
			}
			.aboutme__container__hobby {
				grid-column: 1/2;
				grid-row: 3/5;
			}
			.aboutme__container__language {
				grid-column: 2/2;
				grid-row: 2/3;
			}
			.aboutme__container__logo {
				grid-column: 2/2;
				grid-row: 3/4;
			}
			.aboutme__container__quote {
				grid-column: 2/2;
				grid-row: 4/5;
			}
		}
	}
}
@media (min-width: 992px) {
	.home {
		.home__container {
			flex-direction: row;
			justify-content: center;
			.home__container__text {
				padding: 50px 0;
				.home__text {
					margin: 20px;
				}
			}
			.home__container__img {
				.home__img {
					max-height: 90vh;
				}
			}
		}
	}

	.aboutme {
		.aboutme__container {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr 0.5fr 0.5fr;

			.aboutme__container__description {
				grid-column: 1/2;
				grid-row: 1/4;
			}
			.aboutme__container__skills {
				grid-column: 2/3;

				grid-row: 1/2;
			}
			.aboutme__container__hobby {
				grid-column: 3/4;
				grid-row: 1/2;
			}
			.aboutme__container__language {
				grid-column: 2/3;
				grid-row: 3/4;
			}
			.aboutme__container__logo {
				grid-column: 3/4;
				grid-row: 2/4;
			}
			.aboutme__container__quote {
				grid-column: 2/3;
				grid-row: 2/3;
			}
		}
	}
}
